@{
    ViewBag.Title = "Home Page";
}

<!-- ============================ Hero Banner  Start================================== -->
<div class="hero-banner full bg-cover center" style="background:#2944c1 url(assets/img/banner-3.jpg) no-repeat;" data-overlay="7">
    <div class="container">
        <div class="mt-5">
            <div class="row m-0 justify-content-center">
                <div class="col-lg-11 col-md-11">
                    <div class="pills_basic_tab">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Car</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Container/Others</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="_dashboard_content">
                                    <div class="_dashboard_content_body">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Carrier/Lines (MSC.)</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Port of Loading</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Port of Discharge</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                    <label>Vehicle Type</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                    <label>Make</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                    <label>Model</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                    <label>Year</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">                                                   
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">                                                   
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">                                                    
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                    <button type="button" class="btn theme-bg r-radius full-width">GET ESTIMATES</button>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                 </div>
                            </div>

                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <div class="_dashboard_content">
                                    <div class="_dashboard_content_body">
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Carrier (Maersk, Grimaldi etc.)</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Port of Loading</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Port of Discharge</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Quantity</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>ETA (Calendar)</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-lg-6">
                                                <div class="form-group">
                                                    <label>Brief Description of the Cargo</label>
                                                    <input type="text" class="form-control with-light">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-xl-3 col-lg-6">
                                                <div class="form-group">
                                                    <button type="button" class="btn theme-bg r-radius full-width">GET QUOTES</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                @*<div class="col-lg-10 col-md-11">
                    <h1>World Best Freelancers Portal</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <div class="linkeo_link">
                        <a href="#" class="btn _hire_freelancers">Hire Freelancers</a>
                        <a href="#" class="btn _loonking_job">Loonking For Job</a>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->
<!-- ============================ Featured Designs Start ==================================== -->
<section class="pt-0 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12">

                <div class="_freelancers_group_list overlio-top">
                    <div class="_freelancers_group_header">
                        <form class="search-big-form _freelancers_forms">
                            <div class="row m-0">
                                <div class="col-lg-4 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <i class="ti-search"></i>
                                        <input type="text" class="form-control" placeholder="Job Title or Keywords">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <i class="ti-location-pin"></i>
                                        <input type="text" class="form-control" placeholder="San Francisco, CA">
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-sm-12">
                                    <div class="form-group">
                                        <i class="ti-layers"></i>
                                        <select id="jb-category" class="js-states form-control">
                                            <option value="">&nbsp;</option>
                                            <option value="1">Accounting & Finance</option>
                                            <option value="2">Telecommunications</option>
                                            <option value="3">IT Companies</option>
                                            <option value="4">Art & Design</option>
                                            <option value="5">Automotive Jobs</option>
                                            <option value="6">Banking Jobs</option>
                                            <option value="7">Education Training</option>
                                            <option value="8">Designing & Multimedia</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-3 col-sm-12">
                                    <button type="button" class="btn theme-bg-blue full-width">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="_freelancers_group_body">

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-1.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Application Developer</a></h4>
                                        <div class="_emp_jb">Drive Due</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Liverpool, UK</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$120k - $155k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <img src="assets/img/job-featured.png" class="_featured_jbs" alt="">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-2.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Drupal Designer</a></h4>
                                        <div class="_emp_jb">Google Inc.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Canada, USA</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$135k - $165k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-3.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Magento Developer</a></h4>
                                        <div class="_emp_jb">Instagram Inc.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Liseo, Canada</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$135k - $170k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-4.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Graphics Designer</a></h4>
                                        <div class="_emp_jb">Dribbble Inc.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Montreal, USA</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$140k - $155k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <img src="assets/img/job-featured.png" class="_featured_jbs" alt="">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-5.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">IOS Developer</a></h4>
                                        <div class="_emp_jb">Sahil Soft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">London, UK</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$155k - $175k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-6.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">UI/UX Designer</a></h4>
                                        <div class="_emp_jb">Mingo Tech</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Canada, UK</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$125k - $135k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-7.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">PHP Developer</a></h4>
                                        <div class="_emp_jb">Preet Soft</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Montreal, USA</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$145k - $190k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-8.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Products Designer</a></h4>
                                        <div class="_emp_jb">Twitter Inc.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Liverpool, UK</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$155k - $195k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <img src="assets/img/job-featured.png" class="_featured_jbs" alt="">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-9.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Java Developer</a></h4>
                                        <div class="_emp_jb">Linkedin</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Montreal, US</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$125k - $135k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                        <!-- Single Item -->
                        <div class="_list_jobs_wraps border shadow_0">
                            <div class="_list_jobs_f1ex first">
                                <div class="_list_110">
                                    <div class="_list_110_thumb">
                                        <a href="employer-detail.html"><img src="assets/img/c-10.png" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="_list_110_caption">
                                        <h4 class="_jb_title"><a href="job-detail.html">Web Designer</a></h4>
                                        <div class="_emp_jb">Shaurya Infotech.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">Montreal, Canada</h4>
                                    <div class="_emp_jb">Location</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <div class="_list_110_caption">
                                    <h4 class="_jb_title">$150k - $175k</h4>
                                    <div class="_emp_jb">Yearly</div>
                                </div>
                            </div>
                            <div class="_list_jobs_f1ex">
                                <a href="job-detail.html" class="_jb_apply">View Job</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Featured Jobs End ==================================== -->
