@model PowerusyData.LoginViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Customer Registration Start -->
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- BEGIN HIDDEN FIELDS AREA -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    <!-- END HIDDEN FIELDS AREA -->
    <!--start Loading panel-->

    <!-- Breadcroumbs start -->
    <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h1>About Us</h1>
                    <a href="index.html" title="Home">Home</a> / About Us
                </div>
                <div class="col-12 col-lg-5 text-right">
                    <h4>
                        We freight to all over the world
                        The best logistic company, <span>FAST</span> and <span>SAFELY!</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcroumbs end -->

    <!-- About content start -->
    <div class="wshipping-content-block">
        <div class="container"> 
            <div class="row flex-lg-row-reverse">
                <div class="col-12 col-lg-9">
                    <div class="right-block">
                        <h2 class="text-uppercase">Company Overview</h2>
                        <img src="~/assets/images/company-overview.jpg" alt="" class="img-responsive feat-img" />
                        <p>POWERUSY Nigeria Limited is a technology-driven freight, logistics and supply chain solutions provider based in Lagos, Nigeria. It was established in December 2020
                        as a direct response to the logistics and supply chain disruptions arising from the effects of corona virus-related restrictions globally.</p> <div class="why-choose-us-inner wow fadeInUp">
                            <h3 class="heading3-border text-uppercase">Why Choose Us?</h3>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="why-choose-us-icon">
                                        <i class="far fa-handshake"></i>
                                        <h5>We Are Trusted</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="why-choose-us-icon">
                                        <i class="fa fa-unlock-alt"></i>
                                        <h5>The Best Security</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="why-choose-us-icon">
                                        <i class="far fa-thumbs-up"></i>
                                        <h5>100% guarantee</h5>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="why-choose-us-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <h5>Quick Location</h5>
                                    </div>
                                </div>
                            </div>
                        <br/>
                            <p>Our objective is to become the undisputed digital freight broker in Nigeria by providing bespoke services to our clients. Our interests span across Import and Export services, Documentation, Customs Clearance services, Bonded Warehousing, Sea and Air Freight, Transport Logistics, Container Stacking,
                        Consultancy and Financial Services among others. We are revolutionizing the freight market place as we bring you these services at the simple touch of a button.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="left-block left-menu">
                        <ul>
                            <li class="active"><a href="" title="Company Overview">Company Overview</a></li>
                            <li><a href="" title="Aspiration & Vision">Aspiration & Vision</a></li>
                            <li><a href="" title="Strength">Strength</a></li>
                            <li><a href="" title="Quality Policy">Quality Policy</a></li>
                        </ul>
                    </div>
                    <div class="left-block wow fadeInUp">
                        <h3 class="heading3-border text-uppercase">Latest News</h3>
                        <div class="latest-news-section">
                            <a href="" title="">
                                <div class="news-date">28<span>Feb</span></div>
                                <h4>News Title</h4>
                                <div class="news-post-by">By <span>Admin</span></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </a>
                        </div>
                        <div class="latest-news-section">
                            <a href="" title="">
                                <div class="news-date">28<span>Feb</span></div>
                                <h4>News Title</h4>
                                <div class="news-post-by">By <span>Admin</span></div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </a>
                        </div>
                    </div>
                    @*<div class="left-block wow fadeInUp"> <a href="#" class="wshipping-button">Send Us Quote</a> </div>
                    <div class="left-block wow fadeInUp">
                        <h3 class="heading3-border text-uppercase">Clients Testimonial</h3>
                        <div class="owl-carousel testimonial">
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="testimonial-img-bg"></div>
                                    </div>
                                    <div class="col-12">
                                        <div class="testimonial-content">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-item">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="testimonial-img-bg"></div>
                                    </div>
                                    <div class="col-12">
                                        <div class="testimonial-content">
                                            <p>22Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- About content end -->

    <!-- Counter start -->
    <div class="wshipping-content-block counter-section">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="counter-block">
                        <span class="counter-icon"><i class="fa fa-folder-open"></i></span>
                        <p><span class="counter" data-count="578">0</span> Project Done</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="counter-block">
                        <span class="counter-icon"><i class="fas fa-users"></i></span>
                        <p><span class="counter" data-count="347">0</span> Permanent Clients</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="counter-block">
                        <span class="counter-icon"><i class="fa fa-truck"></i></span>
                        <p><span class="counter" data-count="128">0</span> Owned Vehicles </p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="counter-block">
                        <span class="counter-icon"><i class="fa fa-male"></i></span>
                        <p><span class="counter" data-count="67">0</span> Support Member</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Counter End -->

    <!-- Our Team start-->
    <div class="wshipping-content-block meet-the-team">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-3">
                    <div class="section-title">
                        <h2>Meet Our Team</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="team-block">
                        <div class="team-image">
                            <img src="~/assets/images/team-member-1.jpg" alt="" />
                            <div class="team-figure">
                                <div class="item-table">
                                    <div class="item-tablecell"> <a href="" title=""><i class="fab fa-facebook-f"></i></a> <a href="" title=""><i class="fab fa-twitter"></i></a> <a href="" title=""><i class="fab fa-skype"></i></a> <a href="" title=""><i class="fab fa-linkedin"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-text">
                            <h5>Team Member Name</h5>
                            <p>Chief Markating Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="team-block">
                        <div class="team-image">
                            <img src="~/assets/images/team-member-2.jpg" alt="" />
                            <div class="team-figure">
                                <div class="item-table">
                                    <div class="item-tablecell"> <a href="" title=""><i class="fab fa-facebook-f"></i></a> <a href="" title=""><i class="fab fa-twitter"></i></a> <a href="" title=""><i class="fab fa-skype"></i></a> <a href="" title=""><i class="fab fa-linkedin"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-text">
                            <h5>Team Member Name</h5>
                            <p>Chief Markating Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="team-block">
                        <div class="team-image">
                            <img src="~/assets/images/team-member-3.jpg" alt="" />
                            <div class="team-figure">
                                <div class="item-table">
                                    <div class="item-tablecell"> <a href="" title=""><i class="fab fa-facebook-f"></i></a> <a href="" title=""><i class="fab fa-twitter"></i></a> <a href="" title=""><i class="fab fa-skype"></i></a> <a href="" title=""><i class="fab fa-linkedin"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-text">
                            <h5>Team Member Name</h5>
                            <p>Chief Markating Officer</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="team-block">
                        <div class="team-image">
                            <img src="~/assets/images/team-member-4.jpg" alt="" />
                            <div class="team-figure">
                                <div class="item-table">
                                    <div class="item-tablecell"> <a href="" title=""><i class="fab fa-facebook-f"></i></a> <a href="" title=""><i class="fab fa-twitter"></i></a> <a href="" title=""><i class="fab fa-skype"></i></a> <a href="" title=""><i class="fab fa-linkedin"></i></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="team-text">
                            <h5>Team Member Name</h5>
                            <p>Chief Markating Officer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our Team end-->

    <!-- Our client start -->
    <div class="wshipping-content-block client-block pt0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="heading3-border text-uppercase">Our Valuable Client</h3>
                </div>
                <div class="owl-carousel our-client">
                    <div class="client-item"><img src="~/assets/images/client-1.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-2.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-3.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-4.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-5.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-6.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-1.jpg" alt="" /></div>
                    <div class="client-item"><img src="~/assets/images/client-2.jpg" alt="" /></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our client end -->

}