@model PowerusyData.LoginViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "contact us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Customer Registration Start -->
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- BEGIN HIDDEN FIELDS AREA -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    <!-- END HIDDEN FIELDS AREA -->
    <!--start Loading panel-->

    <!-- Breadcroumbs start -->
    <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h1>Contact Us</h1>
                    <a href="#" title="Home">Home</a> / Contact Us
                </div>
                <div class="col-12 col-lg-5 text-right">
                    <h4>
                        Your one-stop digital freight centre
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcroumbs end -->

    <!-- Contact Start -->
    <div class="wshipping-content-block">
        <div class="container">
            <div class="row flex-lg-row-reverse">
                <div class="col-12 col-lg-4">
                    <div class="address">
                        <h3>Corporate Office</h3>
                        <div class="address-block">
                            <ul>
                                <li class="address-icon">
                                    <strong>Address:</strong><br>
                                    Lindev Plaza, 16, Amodu Ojikutu Street, Victoria Island, Lagos
                                </li>
                                <li class="phone-icon">
                                    <strong>Telephone No:</strong><br>
                                    +23409157792157 or 09157792158
                                </li>
                                <li class="email-icon">
                                    <strong>Email:</strong><br>
                                    <a href="mailto:info@powerusy.com" title="">info@powerusy.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12 col-lg-8">
                    <div class="contact-text">
                        <h3>We are Always with <span>you :)</span></h3>
                        <img src="assets/images/contact-image.jpg" alt="" />
                    </div>
                    <div class="contact-form">
                        <h3 class="heading3-border text-uppercase">Quick Feedback Form</h3>
                        <form action="contact.html">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" placeholder="Your Full Name">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" placeholder="Company">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact end -->
    <!-- Map start -->
    <div class="map">
        <iframe src="https://maps.google.com/maps?q=Amodu%20Ojikutu%20St,%20Victoria%20Island%20106104,%20Lagos&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
    <!-- Map end -->
}
@section scripts {
    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#loading").show();
            });
            $(document).ajaxStop(function () {
                $("#loading").hide();
            });

            $("[data-pdsa-action]").on("click", function (e) {
                $("#loading").show();
                e.preventDefault();
                $("#EventCommand").val($(this).data("pdsa-action"));
                $("#EventArgument").val($(this).attr("data-pdsa-val"));
                $("form").submit();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        console.log('Submission was successful.');
                        console.log(data);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });
                $("#loading").hide();
            });
        });
    </script>
}
