@model PowerusyData.LoginViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Customer Registration Start -->

    <!-- END HIDDEN FIELDS AREA -->
    <!--start Loading panel-->
    <!-- Breadcroumbs start -->
    <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h1>About Us</h1>
                    <a href="index.html" title="Home">Home</a> / About Us
                </div>
                <div class="col-12 col-lg-5 text-right">
                    <h4>
                        <b>Your one-stop digital freight centre  </b>

                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcroumbs end -->

    <!-- About content start -->
    <div class="wshipping-content-block">
        <div class="container">
            <div class="row flex-lg-row-reverse">
                <div class="col-12 col-lg-9">
                    <div class="right-block">
                        <h2 class="text-uppercase">Cargo Flow</h2>
                        <img src="~/assets/images/service-bg-1.jpg" alt="" class="img-responsive feat-img" />
                        <p>Cargo Flow is a digital marine solutions product from the stables of POWERUSY Nigeria Limited, a technology-driven logistics and supply chain solutions provider based in Lagos, Nigeria.</p>

                        <p>Since its inception, Cargo Flow has built a comprehensive database of barges/boats for hire/rental across various locations in Nigeria and West Africa. Cargo Flow leverages innovative technology to connect customers to specific barges/boats hosted on its digital platform.</p>

                        <p>If you are interested in hiring a boat/barge, Cargo Flow is your one-stop-digital platform for in-class bottoms. Visit our platform, select your barge/boat of choice, enter your details and request a quote.</p>

                        <p>As custodians of one of Nigeria's largest fleet of barges/boats, we are poised to become the main suppliers of marine platforms in the sub-region. Therefore, wherever you require barges and marine support, Cargo Flow is positioned to assist you.</p>
                        <h2 class="text-uppercase">i-FREIGHTERS</h2>
                        <img src="~/assets/images/service-bg-2.jpg" alt="" class="img-responsive feat-img" />
                        <p>
                            POWERUSY Nigeria Limited is a technology-driven freight, logistics and supply chain solutions provider based in Lagos, Nigeria.
                            It was established in December 2020 as a direct response to the logistics and supply chain disruptions arising from the effects of
                            corona virus-related restrictions globally.
                        </p>

                        <h2 class="text-uppercase">SEATON</h2>
                        <img src="~/assets/images/service-bg-3.jpg" alt="" class="img-responsive feat-img" />
                        <p>SEATON is the Ship Brokerage and Vessel Chatering service of POWERUSY Nigeria Limited. We provide flexible shipping solutions for every industry, business, project and cargo. We are building a sterling track record in chartering and maintain excellent relationships with vessel owners. </p>

                        <p>Our team of qualified and certified ships agents have vast combined experience in handling every type of vessel and cargoes such as all types of dry bulk, liquid bulk, breakbulk, project cargo, Ro/Ro, Lo/Lo, containers, visiting Naval/Military, fishing vessel, seismic and offshore supply vessels. </p>

                        <p>SEATON prides itself as a premium option in the business of facilitating seamless, efficient and cost-effective marine transportation solutions in the logistics value chain.</p>

                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <div class="left-block left-menu">
                        
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- About content end -->

