<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PowerusyData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="powerusyDBCoreEntities" connectionString="metadata=res://*/DB.PowerusyDB.csdl|res://*/DB.PowerusyDB.ssdl|res://*/DB.PowerusyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Powerusydb;user id=sa;password=Pa55w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


    <!--Shurus Local Conn Str-->
    <!--<add name="powerusyDBCoreEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Powerusydb;Integrated Security=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="powerusyDBCoreEntities" connectionString="metadata=res://*/DB.PowerusyDB.csdl|res://*/DB.PowerusyDB.ssdl|res://*/DB.PowerusyDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDb)\MSSQLLocalDB;initial catalog=Powerusydb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <PowerusyData.Properties.Settings>
      <setting name="PowerusyData_webmail_WebService" serializeAs="String">
        <value>http://webapi.powerusy.com/Controllers/WebService.asmx</value>
      </setting>
      <setting name="PowerusyData_njcweb_WebService" serializeAs="String">
        <value>http://webapi.njcpension.com/Controllers/WebService.asmx</value>
      </setting>
    </PowerusyData.Properties.Settings>
  </applicationSettings>
</configuration>