
@{
    ViewBag.Title = "Login";
}
<!-- ============================ Page Title Start================================== -->
<div class="page-title inner-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
            </div>
        </div>
    </div>
    <div class="ht-80"></div>
</div>
<!-- ============================ Page Title End ================================== -->
<section class="gray-bg pt-4">
    <div class="container-fluid">
        <div class="row m-0">

            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                <div class="dashboard-navbar overlio-top">

                    <div class="modal-content" >
                        <div class="modal-header">
                            <h4>Sign In</h4>
                        </div>
                        <div class="modal-body">
                            <div class="login-form">
                                    <div class="form-group">
                                        <label>User Name</label>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="*******">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn dark-2 btn-md full-width pop-login">Login</button>
                                    </div>
                            </div>

                            <div class="form-group text-center">
                                <span>Or Signin with</span>
                            </div>

                            <div class="social_logs mb-4">
                                <ul class="shares_jobs text-center">
                                    <li><a href="#" class="share fb"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" class="share gp"><i class="fa fa-google"></i></a></li>
                                    <li><a href="#" class="share ln"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="mf-link"><i class="ti-user"></i>Haven't An Account?<a href="javascript:void(0)" class="theme-cl"> Sign Up</a></div>
                            <div class="mf-forget"><a href="#"><i class="ti-help"></i>Forget Password</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


