
body {
    /*background: url('http://i.imgur.com/Eor57Ae.jpg') no-repeat fixed center center;*/
    background-size: cover;
    font-family: Montserrat;
    background-image: url('../Content/bg2.png');
    background-repeat: no-repeat;
    background-size:cover;
}
